.container {
    min-width: 1200px;
    background-color: #edeff1;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

h1,
h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    font-family: "Roboto Slab", Arial, sans-serif;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    font-family: "Roboto", Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #edeff1;
    padding-top: 44px;
    padding-bottom: 44px;
}

.header__nav {
    display: inline-flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header__nav a {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: "Roboto Slab", Arial, sans-serif;
    text-decoration: none;
    padding: 1em;
    color: #31353e;
}

.header__nav a:hover {
    background-color: #dd4b2b;
    border-radius: 40px;
    color: white;
}

.intro {
    background-image: url("../img/main-back.jpg");
    background-repeat: no-repeat;
    text-align: center;
    height: 1321px;
    padding-top: 489px;
}

.intro__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__header h1 {
    font-size: 72px;
    line-height: 48px;
    font-weight: 300;
    color: #ffffff;
    margin: 0 0 9px;
}

.intro__header p {
    font-size: 30px;
    line-height: 48px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Roboto Slab", Arial, sans-serif;
    margin-bottom: 299px;
}

.intro__cause {
    display: flex;
    justify-content: center;
    margin-bottom: 79px;
}

.cause__item {
    width: 370px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    margin: 0 32px;
}

.cause__item h2 {
    color: #ffffff;
    margin-bottom: 22px;
}

.cause__item p {
    font-size: 15px;
    color: #ffffff;
}

.cause__item:nth-child(1)::before {
    content: "";
    position: absolute;
    top: -103px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 148px;
    height: 148px;
    background: url("../img/burger.png") no-repeat;
}

.cause__item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: -103px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 148px;
    height: 148px;
    background: url("../img/cake.png") no-repeat;
}

.cause__item:nth-child(3)::before {
    content: "";
    position: absolute;
    top: -103px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 148px;
    height: 148px;
    background: url("../img/whiteburger.png") no-repeat;
}

.intro__btn {
    padding: 16px 59px 16px 62px;
    border: 1px solid srga(255, 255, 255, 0.5);
    background-color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: "Roboto Slab", Arial, sans-serif;
    text-decoration: none;
    color: #612316;
    border-radius: 40px;
}

.news {
    text-align: center;
    background-color: #edeff1;
    padding-top: 82px;
    padding-bottom: 103px;
}

.news div {
    display: flex;
    justify-content: center;
}

.news h2 {
    color: #31353e;
    margin-bottom: 84px;
}

.news p {
    margin-bottom: 39px;
}

.news__item {
    width: 370px;
    margin-right: 30px;
}

.news__item a {
    padding: 20px 55px;
    border: 1px solid srga(255, 255, 255, 0.5);
    background-color: #ffffff;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-family: "Roboto", Arial, sans-serif;
    text-decoration: none;
    color: #4e5159;
    border-radius: 40px;
}

.news__item img {
    margin-bottom: 39px;
}

.newsletter {
    background-image: url("../img/burger-background.jpg");
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 91px;
    padding-bottom: 111px;
}

.newsletter h2 {
    line-height: 48px;
    color: #ffffff;
}

.newsletter p {
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 44px;
}

.email {
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    padding: 0.6em 35px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    font-family: "Roboto Slab", Arial, sans-serif;
    color: #f3f4f6;
    text-align: left;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
}

.sign {
    position: relative;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    padding: 0.6em 73px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    font-family: "Roboto Slab", Arial, sans-serif;
    color: #612316;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    left: -35px;
    cursor: pointer;
}

.features {
    padding-top: 67px;
}

.features__item {
    display: flex;
    justify-content: center;
}

.features__item:first-child {
    margin-bottom: 52px;
}

.features__item:last-child {
    margin-bottom: 87px;
}

.features__item:last-child .features__sq {
    margin-right: 44px;
}

.features__desc {
    width: 670px;
    margin-top: 53px;
    padding-right: 110px;
}

.features__desc h2 {
    line-height: 48px;
    color: #191b29;
    margin-bottom: 24px;
}

.features__desc p {
    color: #191b29;
    margin-bottom: 46px;
}

.features__sq {
    height: 405px;
    width: 586px;
    border: 1px solid #dbdbdb;
}

.features__btn {
    padding: 18px 69px 16px 76px;
    border: 1px solid srga(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: "Roboto Slab", Arial, sans-serif;
    text-decoration: none;
    color: #ffffff;
    border-radius: 40px;
}

.features__btn--orange {
    background-color: #dd4b2b;
}

.features__btn--blue {
    background-color: #4b4e73;
}

.pluses {
    display: flex;
    justify-content: center;
    background-color: #d75d0e;
    padding-top: 97px;
}

.pluses div {
    width: 370px;
    text-align: center;
    margin-bottom: 78px;
}

.pluses p {
    font-size: 18px;
    line-height: 36px;
    color: #fff;
}

.first {
    padding-left: 115px;
    padding-right: 115px;
}

.sec {
    padding-left: 115px;
    padding-right: 115px;
}

.third {
    padding-left: 115px;
    padding-right: 115px;
}

.social {
    background-image: url("../img/burger-background.jpg");
    background-repeat: no-repeat;
    height: 375px;
    : 40px;
}

.features__btn--orange {
    background-color: #dd4b2b;
}

.features__btn--blue {
    background-color: #4b4e73;
}

.pluses {
    display: flex;
    justify-content: center;
    background-color: #d75d0e;
    padding-top: 97px;
}

.pluses div {
    width: 370px;
    text-align: center;
    margin-bottom: 78px;
}

.pluses p {
    font-size: 18px;
    line-height: 36px;
    color: #fff;
}

.first {
    padding-left: 115px;
    padding-right: 115px;
}

.sec {
    padding-left: 115px;
    padding-right: 115px;
}

.third {
    padding-left: 115px;
    padding-right: 115px;
}

.social {
    background-image: url("../img/burger-background.jpg");
    background-repeat: no-repeat;
    height: 375px;
